@media  (max-width: 1024px) {
  .navbar {
    justify-content: center;
  }
  .nav-menu-container {
    display: none;
  }

  .hero {
    padding: var(--size-50) 0;
  }

  .hero .block-text {
    text-align: center;
    margin: 0 auto;
    max-width: 40.625rem;
  }

  .hero p {
    padding: 0 var(--size-40);
  }

  .placeholder {
    display: none;
  }

  .preferred-brands {
    flex-direction: column;
    text-align: center;;
  }

  .preferred-brands .title {
    margin: 0;
  }

  .section-divider {
    width: 100%;
  }

  .about-us {
    margin-top: var(--size-100);
  }

  .about-us-container {
    flex-direction: column;
    gap: var(--size-40);
  }

  .about-us-right {
    padding-left: 0;
    text-align: center;;
  }
}

@media (max-width: 768px) {
  .hero .top {
    margin: 0;
    flex-direction: column;
    text-align: center;
  }

  .services-menu {
    grid-template-columns: 100%;
  }

  .service-divider {
    border: none;
  }
}