@media  (max-width: 1024px) {
  .hero .block-text {
    text-align: center;
  }

  .hero .top {
    justify-content: center;
  }

  .hero p {
    padding: 0 var(--size-40);
  }

  .placeholder {
    display: none;
  }
}