@media  (max-width: 1024px) {
  .navbar {
    justify-content: center;
  }
  .nav-menu-container {
    display: none;
  }

  .hero {
    padding: var(--size-30) 0;
  }

  .hero .block-text {
    text-align: center;
  }

  .hero .top {
    justify-content: center;
    text-align: left;
  }

  .hero p {
    padding: 0 var(--size-40);
  }

  .placeholder {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero .top {
    margin: 0;
    flex-direction: column;
    text-align: center;
  }
}