.header {
  background-image: url(/assets/hero-banner.jpg);
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
  background-size: cover;
  background-position: 90% 85%;
  position: relative;
  z-index: 1;
}

.header::before {
  background-image: linear-gradient(30deg, rgba(21, 21, 21, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navigation {
  background-color: var(--primary-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: var(--size-16) var(--size-30);
}

.nav-logo {
  font-size: var(--size-20);
  font-weight: 800;
  color: var(--font-color-light)
}

.nav-menu-container {
  display: flex;
  align-items: center;
  gap: var(--size-20);
}

.nav-menu {
  display: flex;
  gap: var(--size-30);
}

.nav-option a {
  font-size: var(--size-16);
  font-weight: 600;
  color: var(--font-color-light)
}

.hero {
  color: white;
  display: flex;
  padding: var(--size-150) 0;
  gap: var(--size-20);
}

.hero .block-text {
  flex: 1.2 1 0;
}

.hero .top {
  display: flex;
  align-items: center;
  margin-bottom: var(--size-20)
}

.hero .logo {
  width: var(--size-150);
  margin-right: var(--size-25);
  flex-shrink: 0;
}

.hero h1 {
  font-size: var(--size-50);
  line-height: var(--size-60);
  margin: 0;
}

.hero p {
  font-size: var(--size-20);
  font-weight: 500;
  margin-bottom: var(--size-50);
  padding-right: var(--size-80);
}

.placeholder {
  flex: .8 1 0;
}

.about-us {
  margin-top: var(--size-150);
}

.about-us-container {
  display: flex;
}

.about-us-left {
  flex: 1;
}

.about-us-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--size-40);
}

.about-us-right .title {
  font-size: var(--size-20);
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 0;
}

.about-us-right .subtitle {
  font-size: var(--size-40);
  font-weight: 500;
  line-height: var(--size-50)
}

.about-us-right p {
  font-size: var(--size-16)
}
