.header {
  background-image: url(/assets/hero-banner.jpg);
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
  background-size: cover;
  background-position: 90% 82%;
  position: relative;
  z-index: 1;
  padding-top: var(--size-60)
}

.header::before {
  background-image: linear-gradient(30deg, rgba(21, 21, 21, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--primary-color);
  transition: top 0.5s ease-in-out;
  z-index: 10;
}

.scrolled {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
  position: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: var(--size-8) var(--size-16);
}

.nav-logo {
  width: var(--size-100);
}

.nav-menu-container {
  display: flex;
  align-items: center;
  gap: var(--size-20);
}

.nav-menu {
  display: flex;
  gap: var(--size-30);
  margin-right: var(--size-18);
}

.nav-option a {
  font-size: var(--size-16);
  font-weight: 600;
  color: var(--font-color-light)
}

.cta-button {
  padding: 0.5rem 1rem;
}

.hero {
  color: white;
  display: flex;
  padding: 15.625rem 0;
  gap: var(--size-20);
}

.hero .block-text {
  flex: 1;
}

.hero .top {
  display: flex;
  align-items: center;
  margin-bottom: var(--size-20)
}

.hero h1 {
  font-size: var(--size-50);
  line-height: var(--size-60);
  margin: 0;
}

.hero p {
  font-size: var(--size-20);
  font-weight: 500;
  margin-bottom: var(--size-50);
}

.placeholder {
  flex: 1;
}

.preferred-brands {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-40);
  padding: var(--size-30) 0;
}

.preferred-brands .title {
  font-size: var(--size-16);
  margin-right: auto;
}

.preferred-brands .brand {
  max-width: var(--size-150);
}

.section-divider {
  border: none;
  width: 90%;
  border-top: 1px solid rgb(231, 231, 231);
}

.about-us {
  margin: var(--size-100) 0;
}

.about-us-container {
  display: flex;
}

.about-us-left {
  flex: 1;
}

.about-us-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--size-40);
}

.about-us-right .title {
  font-size: var(--size-20);
  font-weight: 600;
  color: var(--accent-color-1);
  margin-bottom: 0;
}

.about-us-right .subtitle {
  font-size: var(--size-40);
  font-weight: 500;
  line-height: var(--size-50)
}

.about-us-right p {
  font-size: var(--size-16)
}

.services-background {
  width: 100%;
  background-color: var(--bg-color-1);
  padding: var(--size-40);
  max-width: 1660px;
  margin: 0 auto;
}

.services-container .title,
.services-container .subtitle {
  text-align: center;
}

.services-container .title {
  font-size: var(--size-40);
  margin-bottom: var(--size-16);
}

.services-container .subtitle {
  font-size: var(--size-16);
  margin-bottom: var(--size-100);
}

.services-menu {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  column-gap: var(--size-150)
}

.service-card {
  margin-bottom: var(--size-30)
}

.service-number {
  font-size: var(--size-16);
  font-weight: 500;
  color: var(--accent-color-1);
  margin-bottom: var(--size-8);
}

.service-title {
  font-size: var(--size-25);
  font-weight: 500;
  margin-bottom: var(--size-8);
}

.service-description {
  font-size: var(--size-16);
  margin-bottom: var(--size-30);
}

.service-divider {
  border-bottom: 1px solid var(--secondary-color)
}
